rptcompaluguel RCDATA "modulos\\03-estoque\\reservas\\rptCompAluguel.fr3"
rptdataalugueis RCDATA "modulos\\03-estoque\\reservas\\rptDataAlugueis.fr3"
rptcompvenda RCDATA "modulos\\03-estoque\\vendas\\rptCompVenda.fr3"
rptdatacupom RCDATA "modulos\\02-financeiro\\caixas\\rptDataCupom.fr3"
rptfantasiasreservadas RCDATA "modulos\\03-estoque\\reservas\\rptFantasiasReservadas.fr3"
rptordensPorFantasias RCDATA "modulos\\03-estoque\\ordens\\rptFantasiasReservadas.fr3"
rptcompordemvenda RCDATA "modulos\\03-estoque\\ordens\\rptCompVenda.fr3"
rptcompaluguel_a4 RCDATA "modulos\\03-estoque\\ordens\\rptCompAluguelA4.fr3"
rptcompvenda_a4 RCDATA "modulos\\03-estoque\\ordens\\rptCompVendaA4.fr3"
rptordensporfuncionario RCDATA "modulos\\04-relatorios\\rptOrdensPorFuncionario.fr3"
rptordensmovimentacaoanual RCDATA "modulos\\04-relatorios\\rptOrdensMovimentacaoAnual.fr3"
bkpdados BITMAP "assets\\bmp\\24x24\\Archive-24.bmp"
arrowup BITMAP "assets\\bmp\\24x24\\Arrowhead-01-24.bmp"
arrowdown BITMAP "assets\\bmp\\24x24\\Arrowhead-Down-24.bmp"
circleadd BITMAP "assets\\bmp\\24x24\\Circle-Add-04-24.bmp"
refresh BITMAP "assets\\bmp\\24x24\\Command-Refresh-24.bmp"
Bitmap_6 BITMAP "assets\\bmp\\24x24\\Print-01-24.bmp"
imgdefault RCDATA "assets\\jpg\\16x16\\imgdefault.jpg"
rptordemAluguel RCDATA "src\\view\\estoque\\reports\\rptCompAluguel.fr3"
rptdataOrdens RCDATA "src\\view\\estoque\\reports\\rptDataAlugueis.fr3"
rptcxadiario RCDATA "src\\view\\financeiro\\reports\\rptCxaDiario.fr3"
